@model UserContact


<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="contact-message">
            <h2 class="contact-title">tell us your project</h2>
            <form id="contact-form" asp-action="sendemail" method="post" class="contact-form">
                <div class="row ">


                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <input asp-for="FullName" placeholder="FullName *">
                        <span class="text-danger" asp-validation-for="FullName"></span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <input asp-for="Phone" placeholder="Phone *">
                        <span class="text-danger" asp-validation-for="Phone"></span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <input asp-for="Email" placeholder="Email *">
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <input asp-for="Subject" placeholder="Subject *">
                        <span class="text-danger" asp-validation-for="Subject"></span>
                    </div>
                    <div class="col-12">
                        <div class="contact2-textarea text-center">
                            <textarea asp-for="Text" placeholder="Message *" class="form-control2"></textarea>
                        </div>

                        <h3>Response</h3>
                        <div class="contact2-textarea text-center">
                            <textarea asp-for="Response" placeholder="Message *" class="form-control2"></textarea>
                        </div>

                        <div class="contact-btn">
                            <button class="btn" type="submit">Send Message</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>

</div>