@using JuanMVC.ViewModels

@model ResetPasswordVM

@{
    ViewData["Title"] = "ResetPassword";
}





<!-- Login Content Start -->
<div class="col-lg-6">
    <div class="login-reg-form-wrap">
        <h2>Sign In</h2>
        <form  method="post" asp-action="resetpassword">
            
            <div class="single-input-item">
                <label asp-for="Password" >Password</label>
                <input asp-for="Password" placeholder="Password" required />
                 <span class="text-danger" asp-validation-for="Password" ></span>
            </div>
              <div class="single-input-item">
                <label asp-for="ConfirmPassword" >ConfirmPassword</label>
                <input asp-for="ConfirmPassword" placeholder="Password again" required />
                 <span class="text-danger" asp-validation-for="ConfirmPassword" ></span>
            </div>

            <input type="hidden" name="Email" value="@TempData["Email"]" />
            <input type="hidden" name="Token" value="@TempData["Token"]" />

                    
            <div class="text-danger" asp-validation-summary="ModelOnly" ></div>
            <div class="single-input-item">
                <button type="submit" class="btn">Submit</button>
            </div>
        </form>
    </div>
</div>
<!-- Login Content End -->





